/.env
/vendor/
/.phpunit.cache/
/storage/**
!/storage/.htaccess
!/storage/cache/
!/storage/cache/.gitkeep
!/storage/cache/sessions/
!/storage/cache/sessions/.gitkeep
!/storage/evidence/
!/storage/evidence/.gitkeep
!/storage/logs/
!/storage/logs/.gitkeep
!/storage/temp/
!/storage/temp/.gitkeep
*.local.php
*.log
/.idea/
/.vscode/
/.well-known/
/cgi-bin/
